{{!< default}}

{{#author}}
<header id="author-header" class="animate-fade-in{{#if cover_image}} has-cover{{else}}{{#if @site.cover_image}} has-cover{{/if}}{{/if}}">

	<div id="author-header-content-container">
		{{#if profile_image}}
		<figure id="author-avatar" class="animate-fade-down">
			<img src="{{profile_image}}" alt="{{name}}" />
		</figure>
		{{/if}}
		<h1 class="author-greeting animate-fade-up">{{t "Hello and welcome to my blog!"}}</h1>
	</div>

	{{#if cover_image}}
	<div class="cover">
		<img
			srcset="{{img_url cover_image size="s"}} 320w,
            	{{img_url cover_image size="m"}} 640w,
            	{{img_url cover_image size="l"}} 960w,
            	{{img_url cover_image size="xl"}} 1920w"
      		src="{{img_url cover_image size="xl"}}"
			alt="{{@site.title}}"
		/>
	</div>
	{{else}}
	{{#if @site.cover_image}}
	<div class="cover">
		<img
			srcset="{{img_url @site.cover_image size="s"}} 320w,
            	{{img_url @site.cover_image size="m"}} 640w,
            	{{img_url @site.cover_image size="l"}} 960w,
            	{{img_url @site.cover_image size="xl"}} 1920w"
      		src="{{img_url @site.cover_image size="xl"}}"
			alt="{{@site.title}}"
		/>
	</div>
	{{/if}}
	{{/if}}

	<a id="scroll-cue" href="#index"><i class="ic-arrow-down"></i></a>

</header>

<div id="index" class="container">

	<main class="content" role="main">

		<article class="{{post_class}}">
			<div class="inner">
				<section class="about-author">
					<p>
						I'm <strong>Nader Debbabi</strong>, a <strong>Tunisian software engineering student</strong>, 
						a <strong>full stack web developer</strong> and a <strong>freelancer</strong>. 
						Throughout my years of studies, I've tried to acquire some professional experience from my internships, 
						and to exercise my knowledge base through various freelance and academical projects.
					</p>
					<p>
						Currently, I'm in the final year of my academic studies &#127881; &#127881; and I am looking forward to beginning my career as a software engineer, 
						with a great ambition to become a software architect after gathering the required skills and experience.
					</p>
					<p>
						I have been working with <strong>Java</strong> and <strong>Spring framework</strong> for quite some time with an important focus on 
						<strong>REST APIs</strong>, <strong>microservices</strong> and <strong>distributed architectures</strong>. And for frontend development, 
						<strong>Angular</strong> has always been my weapon of choice.
					</p>
					<p>
						I launched this blog, basically to share what I have been learning, to provide some solutions to problems that I have been struggling with, hopping 
						that they may be beneficial to someone, and more importantly to have some public feedback about my approach of implementing certain use cases.
					</p>
					<p>
						Outside of the software development realm, I'm a big movies geek, an avid electronic music listener and just a guy who loves family and friends time.
					</p>
				</section>
				{{!-- <section class="about-blog">
					<h1>Voluptate quis qui amet nisi nulla</h1>
					<p>
						Incididunt adipisicing magna reprehenderit sunt excepteur velit ullamco ad cillum ad eiusmod est. Laboris adipisicing in exercitation nostrud duis sint fugiat aliqua tempor exercitation mollit amet. Nostrud laboris ex exercitation fugiat reprehenderit id eiusmod id est officia et deserunt. Tempor veniam nostrud proident enim dolor non minim nulla non magna. Irure cillum sunt aute esse amet incididunt enim Lorem labore cillum occaecat nisi cillum nisi. Tempor enim magna exercitation mollit laboris dolore commodo. Lorem anim labore reprehenderit ullamco sint nulla veniam magna reprehenderit voluptate.
						Adipisicing reprehenderit ad nostrud reprehenderit tempor aliquip sunt elit aliqua. Aliquip dolore quis ex nulla exercitation velit dolore do magna cupidatat aliquip non ullamco labore. Cillum culpa non occaecat anim ea mollit. Lorem pariatur non nostrud dolore aliquip esse proident consequat aliqua cillum. Fugiat minim labore exercitation ea quis dolore. Ea officia est eu aliqua labore anim ullamco.
					</p>
				</section> --}}
				{{!-- <section class="contact">

				</section> --}}
			</div>
		</article>
	
	</main>

</div>
{{/author}}
