{{!< default}}

<header id="tag-header" class="animate-fade-in{{#if tag.feature_image}} has-cover{{else}}{{#if @site.cover_image}} has-cover{{/if}}{{/if}}">

	<div id="tag-header-content-container">
		<h1 class="tag-name animate-fade-down">{{tag.name}}</h1>
		<span class="tag-description animate-fade-down">
		{{#if tag.description}}
			{{tag.description}}
		{{else}}
			{{t "Posts"}}: {{pagination.total}}
		{{/if}}
		</span>
	</div>

	{{#if tag.feature_image}}
	<div class="cover">
		<img
			srcset="{{img_url tag.feature_image size="s"}} 320w,
				{{img_url tag.feature_image size="m"}} 640w,
				{{img_url tag.feature_image size="l"}} 960w,
				{{img_url tag.feature_image size="xl"}} 1920w"
      		src="{{img_url tag.feature_image size="xl"}}"
			alt="{{@site.title}}"
		/>
	</div>
	{{else}}
	{{#if @site.cover_image}}
	<div class="cover">
		<img
			srcset="{{img_url @site.cover_image size="s"}} 320w,
				{{img_url @site.cover_image size="m"}} 640w,
				{{img_url @site.cover_image size="l"}} 960w,
				{{img_url @site.cover_image size="xl"}} 1920w"
			src="{{img_url @site.cover_image size="xl"}}"
			alt="{{@site.title}}"
		/>
	</div>
	{{/if}}
	{{/if}}

</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
